<form action="#" method="post" target="_blank">

    <table>
        <tr>
            <th><b>MIS SECUENCIAS</th>
            <th><b>CREAR</th>
            <th><b>EDITAR</th>
            <th><b>ELIMINAR</th>
        </tr>
        <tr>
            <td><input type="text" name="secuencia1" id="secuencia1" placeholder="Nombre Secuencia"></td>
            <td><input type="button" value="Crear"></td>
            <td><input type="button" value="Editar"></td>
            <td><input type="button" value="Eliminar"></td>
        </tr>
        <tr>
            <td><input type="text" name="secuencia1" id="secuencia1" placeholder="Nombre Secuencia"></td>
            <td><input type="button" value="Crear"></td>
            <td><input type="button" value="Editar"></td>
            <td><input type="button" value="Eliminar"></td>
        </tr>
        <tr>
            <td><input type="text" name="secuencia1" id="secuencia1" placeholder="Nombre Secuencia"></td>
            <td><input type="button" value="Crear"></td>
            <td><input type="button" value="Editar"></td>
            <td><input type="button" value="Eliminar"></td>
        </tr>
</form>